body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #1B52B2;
    color: white;
    display: flex;
    justify-content: space-around;
    margin: 0;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 0.2em solid black;
    box-shadow: 0 0 0.3em black;
}

h2 {
    font-size: 16pt;
}

main {
    padding: 0 5em;
}

div#directory-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div#search-form {
    background-color: #dddddd;
    border: 0.1em solid #999999;
}

div#filter-form {
    background-color: #c0d8f2;
    border: 0.1em solid #629bff;
    border-top-width: 0;
}

div.search-field, div.filter-field, div.edit-field {
    margin: 0.2em;
    padding: 0.2em;
}

form.search-filter {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.2em;
}

button, input[type="submit"], input[type="reset"] {
    min-width: 11em;
    height: 2em;
    background-color: #dddddd;
    border-width: 0;
    margin: 0.2em;
    padding: 0.3em;
}

input[type="submit"], input[type="reset"] {
    background-color: #ebf6f2;
}

form.edit > input[type="submit"], form.edit > input[type="reset"]{
    border: 0.1em solid #849a92;
}

form.edit > input[type="submit"], form.edit > input[type="reset"]{
    border: 0.1em solid #849a92;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #aaccee;
}

button:focus, input[type="submit"]:focus, input[type="reset"]:focus {
    border: 3px solid #629bff;
}

button.add-button {
    border: 0.1em solid #999999;
}

button.update-button, button.delete-button, button.sbill-button {
    min-width: 7em;
    max-width: 7em;
}

button.update-button, form.edit > input[type="submit"], form.edit > input[type="reset"] {
    border: 0.1em solid #849a92;
    background-color: #ebf6f2;
}

button.delete-button {
    border: 0.1em solid #947878;
    background-color: #efd9d9;
}

button.update-button:hover, form.edit > input[type="submit"]:hover, form.edit > input[type="reset"]:hover {
    border: 0.1em solid #43674a;
    background-color: #d0edd6;
}

button.delete-button:hover {
    border: 0.1em solid #8b5151;
    background-color: #f0bbbb;
}

button.sbill-button, button#auto-assign-button {
    border: 0.1em solid #ada273;
    background-color: #f5edcd;
}

button.sbill-button:hover, button#auto-assign-button:hover {
    border: 0.1em solid #7e7136;
    background-color: #eede9e;
}

label {
    font-size: 10pt;
    font-weight: bold;
}

table {
    width: 95%;
    min-width: 60em;
    padding: 0;
}

th, td {
    font-size: 10pt;
    border: 0.1em solid #999999;
    margin: 0;
    padding: 0.15em;
    text-align: center;
}
